/* Карусель TECH с плавающим ползунком *********/
.cartech {
  padding-bottom: 120px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 40%;
    bottom: 0;
    left: 0;
    background: #dee2ed;
    background-image: url(../img/section_products__bg_content.svg),
      url(../img/section_products__bg_fill.svg);
    background-position-x: right;
    background-position-y: -20px;
    background-repeat: no-repeat, repeat-x;
  }
  /* Контейнер *********************************/
  .cartech_container {
    display: flex;
    flex-direction: column;
  }
  /* Общий заголовок ***************************/
  .cartech__title {
  }
  /* Навигационное меню ************************/
  .cartech__nav {
    display: flex;
    flex-direction: column;
    height: 214px;
    justify-content: flex-end;
  }
  .cartech__menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style: none;
    height: 61px;
  }
  .cartech__nav_item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 3.5rem;
    z-index: 9;
    button {
      padding: 0;
      width: 100%;
      font-family: "Playfair Display", "Times New Roman", Times, serif;
      font-size: 1.25rem;
      background: none;
      color: #a5a4a4;
      border: none;
      transition: all 0.2s;
      &:hover {
        font-size: 2.5rem;
        font-weight: 600;
        color: #616161;
      }
    }
    &.active {
      a,
      button {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000000;
        &:hover {
          color: #000000;
        }
      }
    }
  }
  .lavalamp-object {
    top: 11px;
    background-image: url("../img/section_products_circle.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
  /* Слайды ************************************/
  .cartech__slides {
    height: 460px;
  }
  .carousel_products__slide {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: top 1s, opacity 1s;
    &.active {
      top: 0;
      opacity: 1;
    }
  }
  .carousel_products__slide_text {
    display: flex;
    flex-direction: column;
    width: 710px;
  }
  .carousel_products__slide__h {
    display: flex;
    flex-direction: column-reverse;
    height: 115px;
    min-height: 115px;
    max-height: 115px;
  }
  .carousel_products__slide__p {
    padding-top: 40px;
    flex: 1 1 auto;
    overflow: hidden;
  }
  .carousel_products__img {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    img {
      height: 100%;
      max-width: 450px;
      object-fit: contain;
    }
  }
}
