/* Карусель для секции "Наш блог" */
.carousel_blog {
  display: flex;
  flex-direction: row;
  height: 770px;
  overflow: hidden;
  /* Контейнер для слайдов */
  .slides {
  }
  /* Контейнер для слайдов с картинкой */
  .slides_img {
    width: 480px;
    transition: transform 1s;
    .current {
      opacity: 1;
      left: 0;
    }
  }
  /* Контейнер для слайдов с текстовой информацией */
  .slides_info {
    flex-grow: 1;
    background: #dee2ed;
    .current {
      opacity: 1;
    }
  }

  /* Слайд */
  .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  /* Слайд с картинкой */
  .slide_img {
    width: 480px;
    height: 100%;
    left: -150px;
    overflow: hidden;
    transition: opacity 2s, left 2s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  /* Слайд с текстовой информацией */
  .slide_info {
    margin-top: 125px;
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  /* Дата слайда */
  .slide__date {
    font-family: "Playfair Display";
    color: #6892ae;
    line-height: 0.933;
    .d {
      font-size: 75px;
    }
    .m {
      font-size: 30px;
    }
    .y {
      font-size: 90px;
    }
  }
  /* Заголовок блога */
  .slide__title {
    margin-top: 35px;
    font-size: 24px;
    font-family: "Montserrat";
    color: #01273a;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
  }
  .slide__text {
    margin-top: 20px;
    font-size: 15px;
    font-family: "Roboto Light";
    color: #666666;
    line-height: 1.533;
    text-align: left;
  }
  .slide__link_continue {
    font-size: 15px;
    font-family: "Roboto Light";
    color: #6892ae;
    line-height: 1.533;
  }

  // Контейнер для навигации
  .nav {
    padding-left: 75px;
    padding-right: 115px;
    background: #dee2ed;
    background-image: url("../img/section_blog__nav_bg.svg");
    background-repeat: no-repeat;
    background-position-x: 75px;
  }
  .nav__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35px;
    margin-top: 225px;
    width: 70px;
  }
  .nav__item {
    display: flex;
    align-items: center;
    height: 56px;
    width: 45px;
    &.current {
      a,
      button {
        color: #000000;
        font-size: 2.5rem;
        font-weight: 600;
        &:hover {
          color: #000000;
        }
      }
    }
  }
  .nav__btn {
    height: 100%;
    width: 100%;
    color: #a5a4a4;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-size: 1.25rem;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    transition: all 0.2s;

    &:hover {
      color: #616161;
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
  .lavalamp-object {
    height: 8px;
    width: 8px;
    background-image: url("../img/section_blog__nav_current.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    left: -12px;
  }
}
