.cartech2 {
  display: flex;
  height: 100%;
  // overflow: hidden;
  /* Контейнер *********************************/
  .cartech2_container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }
  /* Навигационное меню ************************/
  .cartech2__nav {
    margin-left: 70px;
    background: #dee2ed;
    background-image: url("../img/section_blog__nav_bg_1.svg"),
      url("../img/section_blog__nav_bg_2.svg");
    background-repeat: no-repeat, repeat-y;
    background-position: top left, top left;
  }
  .cartech2__nav_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 37px;
    padding-top: 225px;
    width: 70px;
  }
  .cartech2__nav_item {
    display: flex;
    align-items: center;
    height: 56px;
    width: 45px;
    &.active {
      a,
      button {
        color: #000000;
        font-size: 2.5rem;
        font-weight: 600;
        &:hover {
          color: #000000;
        }
      }
    }
  }
  button {
    height: 100%;
    width: 100%;
    color: #a5a4a4;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-size: 1.25rem;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    transition: all 0.2s;

    &:hover {
      color: #616161;
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
  .lavalamp-object {
    height: 8px;
    width: 8px;
    background-image: url("../img/section_blog__nav_current.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    left: -12px;
  }

  /* Слайды ************************************/
  .cartech2__slides {
  }
  .cartech2__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 2s;
    &.active {
      opacity: 1;
    }
  }
  /* Слайды с картинкой ************************/
  .cartech2__slides_img {
    width: 480px;
  }
  .cartech2__slide_img {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  /* Слайды с текстом **************************/
  .cartech2__slides_text {
    flex: 1 1 auto;
  }
  .cartech2__slide_text {
    display: flex;
    flex-direction: column;
    .cartech2__slides_text_date {
      margin-top: 140px;
      margin-bottom: 15px;
      font-family: "Playfair Display";
      font-weight: bold;
      line-height: 0.933;
      .d {
        font-size: 75px;
      }
      .m {
        font-size: 30px;
      }
      .y {
        font-size: 90px;
      }
    }
    .cartech2__slides_text_title {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .cartech2__slides_text_text {
      margin-top: 15px;
      margin-bottom: 110px;
      flex: 1 1 auto;
    }
  }
}
