.text_primary {
  color: #01273a;
}
.text_basic {
  color: #ffffff;
}
.text_secondary {
  color: #666666;
}

.text_info {
  color: #6892ae;
}

.bg_primary {
  background-color: #01273a;
}
.bg_info {
  background: #6892ae;
}
.bg_basic {
  background: #ffffff;
}
.bg_lite {
  background: #dee2ed;
}
