.section {
  z-index: 10;
  opacity: 1;
}
/***********************************************/
/* Секция - Шапка сайта ************************/
.section_header {
  max-height: 580px;
  .h1 {
    font-family: "Playfair Display";
  }
}

#CarouselHeader {
  .carousel_siema__slides {
  }
  .carousel_siema__slide {
    height: 580px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .carousel_btn {
    color: #6a93af;
  }
  #ButtonCarouselHeaderPrev {
    position: absolute;
    right: 202px;
    bottom: 0;
  }
  #ButtonCarouselHeaderNext {
    position: absolute;
    right: 100px;
    bottom: 0;
  }
}
/***********************************************/
/* Секция - Наша продукция *********************/
.section_home_products {
  min-height: 500px;
}
#CarouselProduct {
  height: 700px;
}
#ButtonProducts {
  position: absolute;
  bottom: 73px;
  left: 0;
  right: 0;
  margin: auto;
}
/***********************************************/
/* Секция - Новости ****************************/
.section_home_news {
  background: url("../img/section_news_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0.3;
  }
}
#CarouselNews {
  padding-bottom: 150px;
  height: 650px;
  overflow: hidden;
}
#ButtonCarouselNewsPrev {
  right: 492px;
  bottom: 0;
}
#ButtonCarouselNewsNext {
  right: 390px;
  bottom: 0;
}
/***********************************************/
/* Секция - Наш блог ***************************/
.section_home_blog {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background: #dee2ed;
  }
}
.section_home_blog__title {
  position: absolute;
  top: 80px;
  right: 500px;
}
.section_home_blog__btn {
  position: absolute;
  bottom: 50px;
  right: 100px;
}
#CarTechBlog {
  height: 800px;
  background: #dee2ed;
  overflow: hidden;
}
/***********************************************/
/* Секция - карьера ****************************/
.section_home_career {
  height: 650px;
  background-image: url(../img/section_career__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  .section_home_career__ico {
    height: 50px;
    width: 80px;
    object-fit: contain;
  }
  .section_home_career__btn {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .section_home_career__card {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px #000000;
    padding: 10px;
  }
}
/***********************************************/
/* Секция - Нам доверяют ***********************/
.section_home_partners {
  .section_partners__logo {
    max-height: 135px;
    width: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter ease 200ms;
    &:hover {
      filter: none;
    }
  }
}
/***********************************************/
/* Секция - Обратная связь *********************/
.section_feedback {
  padding-bottom: 90px;
  background-image: url("../img/section_feedback__bg.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0.87;
  }
}
/* Секция: О нас - заголовок *********/
.section_about_title {
  padding-bottom: 290px;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/section_about_title__bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: center;
  background-position-y: center;
  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.69;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

/* Секция: О нас - слайдер ***********/
.section_about_slide {
}
.section_about_slide__block_fixed {
  position: absolute;
  top: -290px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#CarouselAboutHeader {
  height: 660px;
  padding-top: 200px;
  padding-left: 100px;

  overflow: hidden;
}
#ButtonCarouselAboutHeaderPrev {
  position: absolute;
  bottom: 0;
  left: 0;
}
#ButtonCarouselAboutHeaderNext {
  position: absolute;
  bottom: 0px;
  left: 102px;
}
/* Секция: О нас - инф. с фото *******/
.section_about_info {
  padding-top: 130px;
  padding-bottom: 160px;

  .section_about_info__photos {
    img.section_about_info__photo {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.section_about_statistics {
  padding: 60px 0 200px;
  .section_about_statistics__num {
    margin-bottom: 25px;
    font-size: 89.296px;
    font-family: "Playfair Display";
    color: #093c57;
    line-height: 0.778;
    text-align: left;
  }
  .section_about_statistics__text {
    font-size: 29.765px;
    font-family: "Playfair Display";
    font-weight: bold;
    color: #6892ae;
    line-height: 1.344;
    text-align: center;
  }
}

.section_prefooter {
  background-image: url(../img/section_pre_footer_center.svg),
    url(../img/section_pre_footer_right.svg);
  background-position-y: bottom, bottom;
  background-repeat: no-repeat, repeat-x;
  background-position-x: left, left;
}

.section_contact_title {
  padding-bottom: 300px;
  background-image: url("../img/section_contact_title__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0.7;
  }
}

.section_contact_us {
  .form {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.section_contact_map {
  padding-bottom: 100px;
  .section_contact_map__google {
    filter: grayscale(100%);
  }
}
